html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer {
    flex-shrink: 0;
  }
/* Footer */
  footer {
    background: #fff;
    padding: 1rem 0;
  }
  footer .social a {
    color: #333;
    font-size: 1.25rem;
    margin-right: 1rem;
    transition: color .2s;
  }
  footer .social a:hover {
    color: #007bff;
  }
  footer .footer-links a {
    color: #555;
    text-decoration: none;
    margin: 0 .5rem;
    transition: color .2s;
  }
  footer .footer-links a:hover {
    color: #007bff;
  }
  .nav-link:hover {
    background-color: black;
    border-radius: 5px;
    color: white !important;
}
