#btnAqui{
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px;
    position: sticky;
    z-index: 100;
    bottom: 10px;
}

main{
    padding: 15px;
}

article *{
    display: flex;
}

article{
    display: flex;
    justify-content: center;
    margin: 15px;
}

article span{
    margin-left: 30px;
}

article input{
    margin-right: 30px;
}

h1{
    text-align: center;
}